@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");

body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
  background: transparent;
  overflow-x: hidden;
}

#particles-js{
  position: absolute;
  top: 0;left: 0;
  height: 100%;
  width: 100%;
}
.dark-mode #particles-js { 
  position: absolute;
  top: 0;left: 0;
  height: 100%;
  width: 100%;
}
/*#particlesdark-js{
  width: 0;
}

.dark-mode #particlesdark-js { 
  position: absolute;
  top: 0;left: 0;
  height: 100%;
  width: 100%;
}
.dark-mode #particles-js{
  width: 0;
}*/


/*---------color mode------------*/
.color-mode {
  font-weight: bold;
  cursor: pointer;
}

.color-mode-icon {
  display: flex;
  margin-left: auto;
}

.color-mode-icon:after {
  font-family: 'unicons';
  content: '\ea9f';
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
}

.color-mode-icon.active:after {
  font-family: 'unicons';
  content: '\eb65';
  font-size: 30px;
  color: #ffffff;
}

.dark-mode {
  background: #000000;
}

.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
}

.dark-mode .navbar[class*="headroom--not-top"] {
  background: #0c0c0d;
  border-bottom: 1px solid #1f1f1f;
}

.dark-mode .small-des{
  color: #b9b8b8;
}

.dark-mode .small-text {
  background: #0d0c15;
  color: #ffffff;
}

.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .color-mode {
  color: #ffffff;
}

.dark-mode p{
  color: #b9b8b8;
}

.dark-mode .navbar-brand .uil img {
  content: url(images/logo2.png);
}


/*---------------------------------------------*/

.full-screen {
  padding: 8rem 0;
}

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}

a:hover {
  color: #ffc200 !important;
}

.navbar-brand .uil {
  width: 2rem;
  margin-right: 5px;
}

.home-text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #0c0c0c;
  font-size: 2.8em;
  margin: 24px 0;
}

.sectionhead h1 {
  text-align: center;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b,
strong {
  font-weight: bold;
}

.custom-btn {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}

.custom-btn:hover {
  color: #ffc200;
}

.custom-btn.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}

.custom-btn.custom-btn-bg:hover {
  background: #ffc200;
  color: #ffffff !important;
}

.animated {
  position: relative;
}

.animated-info {
  display: block;
  vertical-align: top;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 28px;
  min-width: 260px;
  position: relative;
}

.animated-item {
  color: #ff9900;
}

.animated-item {
  font-size: 32px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}

.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

.home-image img {
  width: 70%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.home-image style {
  will-change: transform;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}

.home .home-text h6{
  font-weight: 100;
}

.sectionhead span {
  color: #ffc200;
  text-align: center;
}
#home{
  overflow: hidden;
}

#about{
  overflow: hidden;
}

#about .content p {
  color: #4b4b4b;
}

/*---------Animation Items-----------------*/
@keyframes BottomTotop {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    transform: translateY(5px);
  }

  10% {
    opacity: 1;
    transform: translateY(0px);
  }

  25% {
    opacity: 1;
    transform: translateY(0px);
  }

  30% {
    opacity: 0;
    transform: translateY(5px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


.content p {
  position: relative;
  display: block;
  font-size: 15px;
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}


/* ----------NAVIGATION BAR------------ */

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear;
}

/*.navbar[class*="-unpinned"] {
  transform: translate(0, -150%);
}*/
.navbar[class*="-pinned"] {
  transform: translate(0, 0);
}

.navbar[class*="headroom--not-top"] {
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}

.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}

.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.color-mode{
  justify-self: left;
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  position: initial;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}

.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}

/*----------ABOUT ME--------------------------*/
#contact {
  justify-content: center;
  overflow: hidden;
}


#about h2 {
  font-size: 2rem;
}

#about .container {
  align-items: center;
  justify-content: center;

}

#about .box {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 10%;
}

/*!important*/
#about .flex-direction {
  flex-direction: row;
}

#about .about-details {
  display: inline-block;
  width: 600px;
  height: 500px;
}

#about .about-me {
  align-self: center;
  justify-self: center;
}

#about .about-me img{
  width: 400;
  height: 550px;
}

/* skills section starts */
#skills{
  overflow: hidden;
}
.skills {
  padding-top: 20px;
  padding-bottom: 20px;
}

.skills .container {
  padding: auto;
  margin: auto;

}

.skills .container .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
}

.skills .container .row .col {
  display: grid;
}

.skills .container .col {
  position: relative;
  width: 90%;
  color: #fff;
  margin-top: .5rem;
}

.skills .container .col .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  background: rgba(0, 0, 22, 0.9);
  transition: .2s;
}

.skills .container .col .bar:hover {
  transform: translateX(12px);
  box-shadow: 0 5px 8px rgba(0, 2, 68, 0.4);
}

.skills .container .col .bar .info {
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skills .container .col .bar .info i {
  font-size: 2rem;
}

.skills .container .col .bar .info span {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Poppins';
  margin-left: .5rem;
}

.skills .container .col .bar .line {
  position: relative;
  width: 100%;
  height: 10px;
  background: rgb(212, 211, 211);
  border-radius: 6px;
}

.skills .container .col .bar .line:before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.skills .container .col .bar .java:before {
  width: 85%;
  background: #ffc200;
}


.skills .container .col .bar .cpp:before {
  width: 80%;
  background: #ffc200;
}

.skills .container .col .bar .html:before {
  width: 90%;
  background: #ffc200;
}

.skills .container .col .bar .c:before {
  width: 90%;
  background: #ffc200;
}

.skills .container .col .bar .content:before {
  width: 80%;
  background: #ffc200;
}

.skills .container .col .bar .python:before {
  width: 65%;
  background: #ffc200;
}

.skills .container .col .bar .graphics:before {
  width: 75%;
  background: #ffc200;
}

.skills .container .col .bar .msoffice:before {
  width: 78%;
  background: #ffc200;
}

.skills .container .col .bar .project:before {
  width: 85%;
  background: #ffc200;
}

.skills .container .col .bar .gcp:before {
  width: 60%;
  background: #ffc200;
}

/* skills section ends */


/*Education Section*/
#education{
  overflow: hidden;
}

.bg-lightgrey {
  background-color: #1a1a1a;
}

#education .boxcontainer {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.edu {
  padding: 10px 0px;
  width: 48%;
  margin: 1%;
  float: left;
  padding-left: 10px;
  justify-content: top;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.edu-list {
  width: 100%;
  float: left;
  padding: 30px 10px;
  background: #262626;
  margin-bottom: 20px;
}

.edu-content {
  width: 100%;
  float: left;
  margin-left: 10px;
}

.edu-content h2 {
  color: wheat;
  font-weight: 600;
  font-size: 20px;
}

.edu-content h3 {
  color: #ffc200;
  font-weight: 500;
  font-size: 17px;
  margin: 0;
}

.edu-content p {
  color: #ffffff;
  font-size: 15px;
  margin: 0;
}

/*Project Section*/

/*#projects{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}*/
#projects{
  overflow: hidden;
}
#projects .slide-container {
  max-width: 100%;
  width: 100%;
  height: 35rem;
  padding: 40px 0;
  margin: 10px 0;
}

#projects .slide-content {
  margin: 0 35px;
  padding: 35px;
  overflow: hidden;
  border-radius: 25px;
}

#projects .card {
  box-sizing: border-box;
  border-radius: 25px;
  background-color: transparent;
  box-shadow: 0 0 0.8rem rgba(47, 47, 48, 0.9);
}

#projects .project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

#projects .image-content {
  position: relative;
  row-gap: 8px;
  padding: 0;
}

#projects .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 10rem;
  width: 10rem;
  background-color: transparent;
  border-radius: 25px 25px 0 25px;
}

#projects .overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: transparent;
}

/*.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: transparent;
}*/
 
#projects .project-image img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 25px 25px 0 25px;
  z-index: -1;
}

#projects .project-content h2 {
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

#projects .project-content p {
  font-size: 14px;
  color: #707070;
  text-align: center;
  margin-bottom: 10px;
}
.dark-mode #projects .project-content h2 {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.dark-mode #projects .project-content p {
  font-size: 14px;
  color: #949494;
  text-align: center;
  margin-bottom: 10px;
}

#projects .button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 5px 16px;
  background-color: #ffc200;
  border-radius: 6px;
  margin: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#projects .button:hover {
  background: #484848;
}

#projects .swiper-navBtn {
  color: #000000;
  transition: color 0.3s ease;
}

#projects .swiper-navBtn:hover {
  color: #ffc200;
}

#projects .swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

#projects .swiper-button-next {
  right: 0;
}

#projects .swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #424242;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ffc200;
}


/*Experience Section*/

#experiences {
  padding: 20px;
  overflow: hidden;
}

.experience-box {
  border: 0.1px solid #ffffff;
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
  border-radius: 10px;
}

.experience-box ul {
  margin: 0;
  padding: 30px 20px;
  list-style: none;
}

.experience-box li {
  position: relative;
  padding: 0 20px 0 60px;
  margin: 0 0 30px;
}

.experience-box li:last-child {
  margin-bottom: 0;
}

.experience-box li:after {
  /*circle dash*/
  content: "";
  position: absolute;
  top: 0px;
  left: 20px;
  border-left: 1px dashed #fc5356;
  bottom: 0;
}

.experience-box .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  color: #ffc200;
  line-height: 40px;
  background: none;
  text-align: center;
  z-index: 1;
  border: 1px dashed;
  border-radius: 50%;
}

.experience-box .time {
  background: #ffc200;
  color: #ffffff;
  font-size: 15px;
  padding: 2px 10px;
  display: inline-block;
  margin-bottom: 8px;
  border-radius: 20px;
  font-weight: 600;
}

.experience-box h5 {
  font-weight: 700;
  color: #1d1e1e;
  font-size: 16px;
  margin-bottom: 5px;
}
.dark-mode .experience-box h5 {
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 5px;
}

.experience-box p {
  margin: 0;
}

.experience-box li:after {
  /*circle dash lower*/
  content: "";
  position: absolute;
  top: 42px;
  left: 20px;
  border-left: 1px dashed #ffc200;
  bottom: 0;
}

/*Achievements and Certifications*/
#achievements {
  padding: 20px;
  overflow: hidden;
}

#achievements .box img {
  position: absolute;
  width: 18rem;
  height: 12rem;
  border-radius: 7%;
  object-fit: cover;
}

/*#achievements .box {
  background: transparent;
  position: relative;
  width: 18rem;
  height: 12rem;
  margin: 15px;
  border-radius: 7%;
  box-shadow: 2px 2px 12px rgba(0, 0, 22, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}*/
/*#achievements .box {
  background: transparent;
  position: relative;
  width: 18rem;
  height: 12rem;
  margin: 15px;
  border-radius: 7%;
  box-shadow: 2px 2px 12px rgba(0, 0, 22, 0.9);
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
 }*/
 #achievements .box {
  position: relative;
  width: 18rem;
  height: 12rem;
  margin: 15px;
  border-radius: 7%;
  box-shadow: 2px 2px 12px rgba(0, 0, 22, 0.9);
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  overflow: hidden; /* hide the gradient overflow */
 }
 
 #achievements .box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* control the size of the gradient */
  background: linear-gradient(transparent,rgba(0, 0, 0, 0.7));
  z-index: 1; /* ensure the gradient stays behind the box content */
 }


#achievements .box-container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}


#achievements .box p {
  color: rgb(0, 0, 0);
  font-weight: 400;
}
.dark-mode #achievements .box h2 {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

#achievements .box p:nth-child(2) {
  font-family: calibri;
  text-align: center;
  font-size: 23px;
  color: #000000;
}

#achievements .box button {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #ffc200;
  border: none;
  outline: none;
  border-radius: 5px;
  z-index: 1;
}
/*-------------------------------*/
.modal {
  z-index: 9999999;
  position: fixed;
  margin-top: 20px;
  margin: auto;
  padding: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.8s ;
  justify-content: center;
}


.modal-content {
  background-color: #ffffff;
  margin: auto;
  margin-top: 50px;
  margin-bottom: auto;
  padding: 15px;
  border: 1px solid #888;
  width: 60%;
  align-self: center;
}

.close {
  color: #aaaaaa;
  float: right;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Blur effect */

 /* Fade in animation */
 @keyframes fadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
 }


/*--------------Contact sction---------------*/
#contact {
  justify-content: center;
  overflow: hidden;
}

/*#contact .containerbox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
  font-size:10px;
	height: 100vh;
}*/


#contact h2 {
  font-size: 2rem;
}

#contact .container {
  align-items: center;
  justify-content: center;

}

#contact .box {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 10%;
}

/*!important*/
#contact .flex-direction {
  flex-direction: row;
}

#contact .contact-form {
  display: inline-block;
  width: 500px;
  height: 320px;
}

#contact .contact-image {
  align-self: center;
  justify-self: center;
}

#contact .contact-image img {
  width: 400px;
  height: 300px;
}

#contact .form {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#contact input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 6px 15px;
  margin: 6px 0;
  width: 70%;
  font-size: 0.8rem;
  text-align: center;
}
.dark-mode #contact input,
textarea {
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 6px 15px;
  margin: 6px 0;
  width: 70%;
  font-size: 0.8rem;
  text-align: center;
}



#contact .form-btn {
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: #ffc200;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  margin: auto;
}
.dark-mode #contact .form-btn {
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: #ffc200;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  margin: auto;
}

#contact button:hover {
  opacity: 0.7;
}


/* footer section starts */
#footer{
  overflow: hidden;
}
.footer {
  position: relative;
  min-height: auto;
  padding-top: auto;
  background: #000000;
  justify-content: end;
}

.footer .social {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.footer .note{
  font-family: "Lucida Handwriting";
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
.footer .note p{
  margin-bottom: 0;
  margin-top: 15px;
}

.footer .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white; /* Makes the icons white */
  height: 50px;
  width: 50px;
  padding: 8px;
  margin-top: 25px;
  text-align: center;
  border-radius: 50px;
  font-size: 30px;
  transition: transform 0.2s ease-in-out;
}
.social a:hover {
  transform: scale(1.2); /* Zoom in on hover */
}

.dark-mode .footer{
  background: #ffffff;
}
.dark-mode .note p,
.dark-mode .social a{
  color: #000000;
}

.footer .credit {
  position: relative;
  padding: auto;
  text-align: center;
  align-self: center;
  font-size: 15px;
  font-weight: 600;

}
.footer .credit p{
  margin: 0;
  padding: 5px 0;
  color: #ffffff;
}

.footer .credit a {
  color: #ffffff;
  font-weight: 600;
}

.dark-mode .footer .credit p,
.dark-mode .footer .note p{
  color: #000000;
}
.dark-mode .footer .credit a{
  color: #000000;
}

.footer .fa {
  color: #E90606;
  margin: 5px;
  font-size: 15px;
  animation: pound .35s infinite alternate;
}

/*@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@keyframes pound {
  to {
    transform: scale(1.1);
  }
}*/


/*Body Media*/
@media (max-width: 998px) {
  .full-screen {
    padding-bottom: 4rem;
  }
  .custom-shape-divider-top-1704480408 {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    overflow:hidden;
    line-height: 0;
  }
  
  .custom-shape-divider-top-1704480408 svg {
    position: relative;
    display: block;
    width: calc(450% + 1.3px);
    height: 900px;
    transform: rotateY(180deg);
  }
  #home{
    padding-top: 5px;
  }

  .color-mode-icon {
    display:block;
    justify-items: center;
  }

  .color-mode i {
    flex-direction: row;
    padding-right: 10px;
  }

  /*.navbar-toggler {
    flex-direction: row;
    margin-left: auto;
  }*/


  #home .home-image {
    margin-top: auto;
  }

  .edu {
    flex-direction: column;
  }

  #home {
    justify-content: center;
    overflow: hidden;
  }
  #about{
    justify-content: center;
  }

  #about .box {
    display: grid;
    align-content: center;
    justify-content: center;
    display: 100%;
    gap: 0;
  }

  .about .flex-direction {
    flex-direction: column;
  }

  #about .about-details {
    display: contents;
    text-align: center;
    padding: 5px;
    width: 100%;
  }

  #about .about-me img {
    justify-self: center;
    width: 300px; 
    height: 337px; 
    object-fit: cover; 
    object-position: 100% 0;
    padding-bottom: 20px;
  }

  .custom-shape-divider-bottom-1704482454 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1704482454 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 99px;
  }
  
  .custom-shape-divider-bottom-1704482454 .shape-fill {
    fill: #C2E800;
  }
}

/* skills media queries starts*/
@media screen and (max-width: 998px) {
  #skills {
    justify-content: center;
  }

  .skills .container {
    padding: 0;
    margin: auto;
  }

  .skills .container .row {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
    padding-top: 1rem;
  }

  .skills .container .col {
    margin-top: 5px;
    width: 100%;
  }

  .skills .container .col .bar {
    margin-bottom: 10px;
    padding: 10px;
  }

  .skills .container .col .bar .line {
    height: .8rem;
  }

  .education {
    justify-content: center;
  }

  .education .container {
    padding: 0;
    margin: auto;
  }

  .education .container .row {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
    padding-top: 1rem;
  }

  .education .container .col {
    display: contents;
    margin-top: 5px;
    width: 100%;
  }

  .education .container .col .edu-list {
    margin-bottom: 10px;
    padding: 10px;
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 110px;
    margin-bottom: auto;
    padding: auto;
    border: 1px solid #888;
    width: 95%;
    align-self: center;
  }

  #contact {
    justify-content: center;
  }

  #contact .box {
    display: grid;
    align-content: center;
    display: 100%;
    gap: 0;
  }

  #contact .flex-direction {
    flex-direction: column;
  }

  #contact .contact-form {
    text-align: center;
    width: 400px;
    height: 320px;
  }

  #contact .contact-image {
    margin: 5px;
    padding: 8px;
  }

  #contact .contact-image img {
    justify-self: center;
    width: 400px;
    height: 300px;
  }

}


@media (max-width: 568px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }

  .home-image img{
    align-items: center;
  }

  #home .home-image .img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    width: 80%;
  }

  .intro{
    text-align: justify;
  }

  .animated .mr-2,
  .animated .name-riyaz{
    font-size: 26px;
  }
  .animated-item {
    font-size: 24px;
  }

  .navbar-collapse {
    background: #cccccccb;
    text-align: center;
    padding-bottom: 20px;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 3px 20px;
  }

  .animated-info {
    min-width: 200px;
  }


  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
    margin: 10px 0;
  }

  
}


/*slider media*/
/*@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}*/
